<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Penyakit</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container mt-5">
        <h2 class="mb-4">Edit Penyakit</h2>
        <form method="POST" action="{{ url_for('edit_penyakit', penyakit_id=penyakit.id) }}">
            <div class="mb-3">
                <label for="namaPenyakit" class="form-label">Nama Penyakit</label>
                <input type="text" id="namaPenyakit" name="nama_penyakit" class="form-control" value="{{ penyakit.nama_penyakit }}" required>
            </div>
            <div class="mb-3">
                <label for="gejalaAwal" class="form-label">Gejala Awal</label>
                <textarea id="gejalaAwal" name="gejala_awal" class="form-control" required>{{ penyakit.gejala_awal }}</textarea>
            </div>
            <div class="mb-3">
                <label for="penanganan" class="form-label">Penanganan</label>
                <textarea id="penanganan" name="penanganan" class="form-control" required>{{ penyakit.cara_penanganan }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Simpan Perubahan</button>
            <a href="{{ url_for('admin') }}" class="btn btn-secondary">Batal</a>
        </form>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
